@import '~taro-ui/dist/style/components/button.scss';
@import '~taro-ui/dist/style/components/loading.scss';
@import '~taro-ui/dist/style/components/input.scss';
@import '~taro-ui/dist/style/components/icon.scss';
@import '~taro-ui/dist/style/components/toast.scss';
@import '~taro-ui/dist/style/components/icon.scss';
@import '~taro-ui/dist/style/components/input-number.scss';
@import '~taro-ui/dist/style/components/tag.scss';
$font-size: 42px;

.index {
  font-size: $font-size;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  .content {
    max-height: 90vh;
    overflow: auto;
    .form {
      .at-input {
        margin-left: 8px;
      }
      .at-input__title {
        width: 5 * $font-size;
        font-size: $font-size;
      }
      .at-input input {
        font-size: $font-size;
      }
    }
    .title {
      position: relative;
      margin: 30px 0px 10px 20px;
      padding-left: 40px;
      box-sizing: border-box;
      &::before {
        content: ' ';
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
        position: absolute;
        height: 1.5em;
        width: 0.4em;
        border-radius: 0.1em;
        background-color: #78a4f4;
      }
    }
    .result {
      border-radius: 20px;
      margin-top: 40px;
      background-color: rgba(235, 235, 235, 0.322);
      .item {
        padding: 20px;
        display: flex;
        .label {
          flex: 0 0 5 * $font-size;
        }
        .content {
          word-break: break-word;
        }
      }
    }

    .at-tag {
      padding: 0 16px;
      margin-right: 8px;
    }
  }

  .btn-container {
    max-height: 10vh;
    .at-button {
      font-size: $font-size;
    }
    width: 100%;
    display: flex;
    margin-top: auto;
    box-sizing: border-box;
    padding-bottom: 40px;
    .btn {
      min-width: 60%;
    }
  }
}
